
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html{
    background-color: #353636;
}

.section-wrapper{
    background-color: #f4f0ec;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
}

.section-title{
    text-align: left;
    margin: 0 auto; 
    font-size: 2.7rem;
    padding-top: 50px;
    width: 80%;
}

.section-title-inner{
    margin: 80px 0 30px;
}

.section-list{
    display: flex;
    width: 80%;
    margin: 3px auto;
    text-align: left;
    list-style: none;
    font-size: 1rem;
}

.section-item:nth-child(2){
    padding-left: 30px;
}

.section-img {
    text-align: center;
}

.section-img img{
    width: 80%;
}

.section-comment{
    width: 60%;
    margin: 100px auto;
    text-align: left;
    background-color: #30302f;
    color: white;
    padding: 40px;
    border-radius: 10px;
    font-size: 1rem;

}

.site-detail-img{
    text-align: center;
}

.site-detail-img img{
    width: 1100px;

}

.site-detail-wrapper{
    width: 80%;
    margin: 100px auto;
}

.site-detail{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 40px auto;
    font-size: 1rem;
}

.site-detail-title{
    width: 30%;
}

.site-detail-text{
    width: 70%;
}

.site-detail-img{
    padding-bottom: 20px;
}

/*1024px以下はこうなる*/
@media screen and (max-width:1024px){


.section-wrapper{
    background-color: #f4f0ec;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 50px;
}
    
.section-title{
    text-align: left;
    margin: 0 auto;
    font-size: 2.7rem;
    padding-top: 50px;
    width: 80%;
}
    
.section-img {
    text-align: center;
}
    
.section-img img{
    width: 80%;
}
    
.section-comment{
    width: 80%;
    margin: 100px auto;
    text-align: left;
    background-color: #30302f;
    color: white;
    padding: 40px;border-radius: 10px;
    font-size: 1rem;
}
    
.site-detail-img{
    text-align: center;
}
    
.site-detail-img img{
    width: 70%;
    margin: 0 auto;
}
    
.site-detail-wrapper{
    width: 80%;
    margin: 0px auto;
}
    
.site-detail{
    flex-direction: column;
}
    
.site-detail-title{
    width: 100%;
    padding-bottom: 10px;
}
    
.site-detail-text{
    width: 100%;
}

}

/*768px以下はこうなる*/
@media screen and (max-width:768px){
    
    .section-wrapper{
        background-color: #f4f0ec;
        width: 100%;
        margin-top: 100px;
        padding-bottom: 50px;
    }

    .section-title-inner{
        margin: 80px 0 50px;
    }
        
    .section-title{
        text-align: center;
        margin: 0 auto;
        font-size: 1.5rem;
        padding-top: 50px;
        width: 90%;
    }
        
    .section-list{
        flex-direction: column;
        width: 90%;
        margin: 30px auto;
        text-align: left;
        list-style: none;
        font-size: 1rem;
    }


    .section-item:nth-child(1){
        font-weight: bold;
        padding-bottom: 10px;
    }

    .section-item:nth-child(2){
        padding-left: 0px;
    }

    .section-img {
        text-align: center;
    }
        
    .section-img img{
        width: 90%;
    }
        
    .section-comment{
        width: 95%;
        margin: 50px auto;
        text-align: left;
        background-color: none;
        color: white;
        padding: 15px;
        border-radius: 10px;
        font-size: 0.9rem;
        line-height: 1.7rem;
    }
        
    .site-detail-img{
        text-align: center;
    }
        
    .site-detail-img img{
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
        
    .site-detail-wrapper{
        width: 90%;
        margin: 0px auto;
    }
        
    .site-detail{
        flex-direction: column;
    }
        
    .site-detail-title{
        width: 100%;
        padding-bottom: 10px;
        font-weight: bold
    }
        
    .site-detail-text{
        width: 100%;
    }

}


